---
layout: index
title: Home page
menu: /
---
<!-- 文章 -->
{% for post in paginator.posts %}
<section class="article-item">
  <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
  <h5>{{ post.date | date: "%b %-d, %Y" }}</h5>
  <article class="snippet">
    {{ post.content | truncate: 80 }}
  </article>
  <h5 class="read-more"><a href="{{ post.url | prepend: site.baseurl }}">阅读原文</a></h5>
</section>
{% endfor %}
<!-- 分页 B -->
<nav>
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1%}
      <a href="/"><span aria-hidden="true">&larr;</span> Older</a>
      {% else %}
      <a href="/page/{{ paginator.previous_page }}"><span aria-hidden="true">&larr;</span> Older</a>
      {% endif %}
    </li>
    {% endif %}
    <li><a href="#">{{ paginator.page }}/{{ paginator.total_pages }}</a></li>
    {% if paginator.next_page %}
    <li class="next"><a href="/page/{{ paginator.next_page }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>
<!-- 分页 E -->