/* 基本样式 */
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

/* 侧边栏 */
.sidebar {
  background-color: #eee;
  height: 100%;
  /*display: inline-block;*/
  position: relative;
}

.sidebar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 10%;
}

/* Mobile <=767px */
@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin: 0 auto;
  }
}

/* Tablet >=767px and <= 991px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 30%;
  }
}

/* PC */
@media only screen and (min-width: 1025px) {
  .sidebar {
    width: 30%;
  }
}