<!DOCTYPE html>
<html>
<head lang="en">
  {% include header.html %}
</head>

<body>

<!-- 导航 B -->
{% include menu.html %}
<!-- 导航 E -->

<!-- 左侧边栏 B -->
{% include sidebar.html %}
<!-- 左侧边栏 E -->

<!-- 主体 B -->
<div class="blog-container">
  <!-- 文章列表 B -->
  <div class="article-list">
    {{ content }}
  </div>
  <!-- 版权 -->
  <div class="copy-right">
    {{ site.copyright }}
  </div>
</div>
<!-- 主体 E -->

<!-- 脚本 -->
{% include footer.html %}
<script language="javascript" src="/assets/js/lib/google-code-prettify/prettify.js"></script>
<script language="javascript">
  $(function() {
    //为代码添加样式
    $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
    window.prettyPrint && prettyPrint();
    $('article a').each(function(){
      $(this).attr('target','_blank');
    });
  });
</script>
</body>
</html>