<!DOCTYPE html>
<html>
<head lang="en">
  {% include header.html %}
  <style type="text/css" id="blog-page">
    @media only screen and (max-width: 768px) {
      .sidebar {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        position: relative;
        display: block;
      }
    }
  </style>
</head>

<body>

<!-- 导航 B -->
{% include menu.html %}
<!-- 导航 E -->

<!-- 左侧边栏 B -->
{% include sidebar.html %}
<!-- 左侧边栏 E -->

<!-- 主体 B -->
<div class="blog-container">
  <!-- 文章列表 B -->
  <div class="article-list">
    {{ content }}
  </div>
  <!-- 版权 -->
  <div class="copy-right">
    {{ site.copyright }}
  </div>
</div>
<!-- 主体 E -->

<!-- 脚本 -->
{% include footer.html %}
<script language="javascript" src="/assets/js/lib/google-code-prettify/prettify.js"></script>
<script language="javascript">
  $(function() {
    $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
    window.prettyPrint && prettyPrint();
    var url = window.location.href;
    if(url.indexOf('/page') > -1){
      $("#blog-page").remove();
    }
  });
</script>
</body>
</html>